# Intro to Recommender Systems Lab

Complete the exercises below to solidify your knowledge and understanding of recommender systems.

For this lab, we are going to be putting together a user similarity based recommender system in a step-by-step fashion. Our data set contains customer grocery purchases, and we will use similar purchase behavior to inform our recommender system. Our recommender system will generate 5 recommendations for each customer based on the purchases they have made.

In [1]:
import pandas as pd
from scipy.spatial.distance import pdist, squareform

In [2]:
data = pd.read_csv('../data/customer_product_sales.csv')
data.columns = data.columns.str.lower()

In [3]:
data.head()

,customerid,firstname,lastname,salesid,productid,productname,quantity
0,61288,Rosa,Andersen,134196,229,Bread - Hot Dog Buns,16
1,77352,Myron,Murray,6167892,229,Bread - Hot Dog Buns,20
2,40094,Susan,Stevenson,5970885,229,Bread - Hot Dog Buns,11
3,23548,Tricia,Vincent,6426954,229,Bread - Hot Dog Buns,6
4,78981,Scott,Burch,819094,229,Bread - Hot Dog Buns,20

## Step 1: Create a data frame that contains the total quantity of each product purchased by each customer.

You will need to group by CustomerID and ProductName and then sum the Quantity field.

In [4]:

totalq=data.groupby(['customerid','productname'],as_index=False)['quantity'].sum()

In [5]:
totalq

       customerid                    productname  quantity
0              33               Apricots - Dried         1
1              33              Assorted Desserts         1
2              33        Bandage - Flexible Neon         1
3              33  Bar Mix - Pina Colada, 355 Ml         1
4              33         Beans - Kidney, Canned         1
...           ...                            ...       ...
63623       98200                   Vol Au Vents        50
63624       98200                  Wasabi Powder        25
63625       98200       Wine - Fume Blanc Fetzer        25
63626       98200  Wine - Hardys Bankside Shiraz        25
63627       98200        Yogurt - French Vanilla        25

[63628 rows x 3 columns]

## Step 2: Use the `pivot_table` method to create a product by customer matrix.

The rows of the matrix should represent the products, the columns should represent the customers, and the values should be the quantities of each product purchased by each customer. You will also need to replace nulls with zeros, which you can do using the `fillna` method.

In [6]:
product_customer = data.pivot_table(index = 'customerid', columns = 'productname', values = 'quantity', fill_value=0)

In [7]:
product_customer.head(10)

productname,Anchovy Paste - 56 G Tube,"Appetizer - Mini Egg Roll, Shrimp",Appetizer - Mushroom Tart,Appetizer - Sausage Rolls,Apricots - Dried,Apricots - Halves,Apricots Fresh,Arizona - Green Tea,Artichokes - Jerusalem,Assorted Desserts,...,"Wine - White, Colubia Cresh","Wine - White, Mosel Gold","Wine - White, Schroder And Schyl",Wine - Wyndham Estate Bin 777,Wonton Wrappers,Yeast Dry - Fermipan,Yoghurt Tubes,"Yogurt - Blueberry, 175 Gr",Yogurt - French Vanilla,Zucchini - Yellow
customerid,,,,,,,,,,,,,,,,,,,,,
33,0,0,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
200,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
264,0,0,0,0,0,1,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
356,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
412,0,0,0,0,1,0,0,0,0,0,...,0,1,1,1,0,0,0,0,0,0
464,0,0,0,0,0,0,1,0,0,0,...,1,0,0,1,0,0,0,0,0,0
477,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,1,0
639,1,0,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
649,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
669,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

## Step 3: Create a customer similarity matrix using `squareform` and `pdist`. For the distance metric, choose "euclidean."

In [8]:
dist_eucl = 1 / (1 + squareform(pdist(product_customer, metric='euclidean')))

In [9]:
distance = pd.DataFrame(dist_eucl, index=product_customer.index, columns=product_customer.index)

In [10]:
distance.head(10)

customerid,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
customerid,,,,,,,,,,,,,,,,,,,,,
33,1.000000,0.085297,0.093953,0.091747,0.087410,0.089695,0.085297,0.088913,0.088152,0.089695,...,0.004809,0.005108,0.004996,0.005421,0.004920,0.005023,0.004880,0.005026,0.004549,0.004883
200,0.085297,1.000000,0.085638,0.085297,0.080070,0.083020,0.084959,0.083651,0.085638,0.087047,...,0.004825,0.005121,0.005014,0.005448,0.004925,0.005032,0.004909,0.005042,0.004553,0.004879
264,0.093953,0.085638,1.000000,0.088152,0.089301,0.087047,0.085638,0.086333,0.087047,0.087047,...,0.004822,0.005115,0.004996,0.005441,0.004932,0.005055,0.004894,0.005042,0.004566,0.004883
356,0.091747,0.085297,0.088152,1.000000,0.085983,0.086688,0.085983,0.091325,0.085983,0.087410,...,0.004814,0.005111,0.004999,0.005437,0.004920,0.005036,0.004871,0.005042,0.004563,0.004886
412,0.087410,0.080070,0.089301,0.085983,1.000000,0.085638,0.085638,0.089301,0.084959,0.087779,...,0.004808,0.005131,0.004996,0.005441,0.004925,0.005042,0.004876,0.005039,0.004568,0.004903
464,0.089695,0.083020,0.087047,0.086688,0.085638,1.000000,0.085638,0.092610,0.087779,0.087047,...,0.004814,0.005121,0.004993,0.005445,0.004920,0.005042,0.004877,0.005039,0.004556,0.004897
477,0.085297,0.084959,0.085638,0.085983,0.085638,0.085638,1.000000,0.090909,0.086333,0.087047,...,0.004816,0.005124,0.005005,0.005436,0.004928,0.005042,0.004882,0.005039,0.004556,0.004885
639,0.088913,0.083651,0.086333,0.091325,0.089301,0.092610,0.090909,1.000000,0.093498,0.091747,...,0.004814,0.005122,0.004993,0.005441,0.004917,0.005039,0.004880,0.005033,0.004563,0.004883
649,0.088152,0.085638,0.087047,0.085983,0.084959,0.087779,0.086333,0.093498,1.000000,0.088530,...,0.004811,0.005115,0.004999,0.005437,0.004923,0.005039,0.004886,0.005045,0.004558,0.004877
669,0.089695,0.087047,0.087047,0.087410,0.087779,0.087047,0.087047,0.091747,0.088530,1.000000,...,0.004811,0.005122,0.004993,0.005429,0.004926,0.005033,0.004886,0.005036,0.004547,0.004895

## Step 4: Check your results by generating a list of the top 5 most similar customers for a specific CustomerID.

In [11]:
selected_customer = 33
similar = distance[selected_customer].sort_values(ascending = False)[1:6]

In [12]:
similar

customerid
3909    0.095358
264     0.093953
3531    0.093953
2503    0.093498
3305    0.093051
Name: 33, dtype: float64

## Step 5: From the data frame you created in Step 1, select the records for the list of similar CustomerIDs you obtained in Step 4.

In [13]:
similar_ids = similar.index.to_list()
print(similar_ids)

[3909, 264, 3531, 2503, 3305]

In [14]:
#Obtaining products/quantity from  totalq DF
similarproducts = totalq[totalq.customerid.isin(similar_ids)]
similarproducts

      customerid                     productname  quantity
131          264               Apricots - Halves         1
132          264                  Apricots Fresh         1
133          264      Bacardi Breezer - Tropical         1
134          264                   Bagel - Plain         1
135          264                 Banana - Leaves         1
...          ...                             ...       ...
3263        3909    Wine - Charddonnay Errazuriz         2
3264        3909        Wine - Fume Blanc Fetzer         1
3265        3909  Wine - Magnotta, Merlot Sr Vqa         1
3266        3909             Wine - Toasted Head         1
3267        3909        Wine - Valpolicella Masi         1

[282 rows x 3 columns]

## Step 6: Aggregate those customer purchase records by ProductName, sum the Quantity field, and then rank them in descending order by quantity.

This will give you the total number of each product purchased by the 5 most similar customers to the customer you selected in order from most purchased to least.

In [15]:
rankedproducts = similarproducts.groupby('productname', as_index=False)['quantity'].sum().sort_values(by = 'quantity', ascending=False)
rankedproducts

                       productname  quantity
157               Salsify, Organic         4
151                Quiche Assorted         3
58                Chocolate - Dark         3
215   Wine - Charddonnay Errazuriz         3
13                        Bay Leaf         3
..                             ...       ...
89        Gatorade - Xfactor Berry         1
91   Gloves - Goldtouch Disposable         1
92                 Grouper - Fresh         1
95                Hinge W Undercut         1
234        Yogurt - French Vanilla         1

[235 rows x 2 columns]

## Step 7: Filter the list for products that the chosen customer has not yet purchased and then recommend the top 5 products with the highest quantities that are left.

- Merge the ranked products data frame with the customer product matrix on the ProductName field.
- Filter for records where the chosen customer has not purchased the product.
- Show the top 5 results.

In [16]:
customer_purchases = totalq[['productname','quantity']][totalq['customerid']==selected_customer]
customer_purchases = [a[1][0] for a in customer_purchases.iterrows()] #list with products the selected customer has purchased

products_to_recommend = rankedproducts[['productname','quantity']]
products_to_recommend = [a[1][0] for a in products_to_recommend.iterrows()] #list with products to recommend

#comparing the products to recommend vs customer purchases, if customer has bought the product to recommend we don't recommend it
products_recommended = [product for product in products_to_recommend if product not in customer_purchases][:5]
products_recommended

['Chocolate - Dark',
 'Wine - Charddonnay Errazuriz',
 'Bay Leaf',
 'Oranges - Navel, 72',
 'Wine - Ej Gallo Sierra Valley']

## Step 8: Now that we have generated product recommendations for a single user, put the pieces together and iterate over a list of all CustomerIDs.

- Create an empty dictionary that will hold the recommendations for all customers.
- Create a list of unique CustomerIDs to iterate over.
- Iterate over the customer list performing steps 4 through 7 for each and appending the results of each iteration to the dictionary you created.

In [18]:
recommendations={}
customers=data.customerid.unique()

In [20]:
recommendations[selected_customer] = products_recommended
our_recommendations=pd.DataFrame.from_dict(recommendations,orient='index').reset_index()
columns=['customer','product1','product2','product3','product4','product5']
our_recommendations.columns=columns
our_recommendations.sort_values('customer', inplace=True)
display(our_recommendations)

,customer,product1,product2,product3,product4,product5
0,33,Chocolate - Dark,Wine - Charddonnay Errazuriz,Bay Leaf,"Oranges - Navel, 72",Wine - Ej Gallo Sierra Valley

##  Step 9: Store the results in a Pandas data frame. The data frame should a column for Customer ID and then a column for each of the 5 product recommendations for each customer.

In [21]:
our_recommendations=pd.DataFrame.from_dict(recommendations,orient='index').reset_index()
columns=['customer','product1','product2','product3','product4','product5']
our_recommendations.columns=columns
our_recommendations.sort_values('customer', inplace=True)
our_recommendations

,customer,product1,product2,product3,product4,product5
0,33,Chocolate - Dark,Wine - Charddonnay Errazuriz,Bay Leaf,"Oranges - Navel, 72",Wine - Ej Gallo Sierra Valley

## Step 10: Change the distance metric used in Step 3 to something other than euclidean (correlation, cityblock, consine, jaccard, etc.). Regenerate the recommendations for all customers and note the differences.

In [22]:
def RecommenderSystem(calc_type: str):
    print(f'RECOMMENDATIONS USING {calc_type.upper()}')
    dist_eucl = 1 / (1 + squareform(pdist(product_customer, metric=calc_type)))
    distance = pd.DataFrame(dist_eucl, index=product_customer.index, columns=product_customer.index)
          
    for customer in customers:
        similar = distance[customer].sort_values(ascending = False)[1:6]
        similar_ids = similar.index.to_list()
        similarproducts = totalq[totalq.customerid.isin(similar_ids)]
        rankedproducts = similarproducts.groupby('productname', as_index=False)['quantity'].sum().sort_values(by = 'quantity', ascending=False)
        customer_purchases = totalq[['productname','quantity']][totalq['customerid']==customer]
        customer_purchases = [a[1][0] for a in customer_purchases.iterrows()]
        products_to_recommend = rankedproducts[['productname','quantity']]
        products_to_recommend = [a[1][0] for a in products_to_recommend.iterrows()]
        products_recommended = [product for product in products_to_recommend if product not in customer_purchases][:5]
        recommendations[customer] = products_recommended
        our_recommendations=pd.DataFrame.from_dict(recommendations,orient='index').reset_index()
        columns=['customer','product1','product2','product3','product4','product5']
        our_recommendations.columns=columns
        our_recommendations.sort_values('customer', inplace=True)
        
    display(our_recommendations)

In [23]:
RecommenderSystem('cityblock')

RECOMMENDATIONS USING CITYBLOCK

,customer,product1,product2,product3,product4,product5
0,33,Chocolate - Dark,Wine - Charddonnay Errazuriz,Bay Leaf,"Oranges - Navel, 72",Wine - Ej Gallo Sierra Valley
392,200,Soup - Campbells Bean Medley,Pomello,Bay Leaf,Pork - Kidney,Muffin - Carrot Individual Wrap
150,264,Cheese - Parmesan Grated,Pork - Kidney,Crush - Cream Soda,Soup - Campbells Tomato Ravioli,"Pepper - White, Ground"
832,356,"Veal - Inside, Choice",Cup - Translucent 7 Oz Clear,"Pepper - White, Ground",Butter - Unsalted,Beef - Top Sirloin
129,412,Wine - Blue Nun Qualitatswein,Beef - Top Sirloin,Butter - Unsalted,Table Cloth 81x81 White,"Pepper - Black, Whole"
...,...,...,...,...,...,...
307,97928,"Salsify, Organic",Butter - Unsalted,Olive - Spread Tapenade,Wine - Chardonnay South,Quiche Assorted
524,98069,Beef - Texas Style Burger,Butter - Unsalted,Wine - Chardonnay South,Tia Maria,Table Cloth 81x81 White
697,98159,Muffin - Carrot Individual Wrap,Bandage - Fexible 1x3,Knife Plastic - White,"Wine - Magnotta, Merlot Sr Vqa",Fond - Neutral
93,98185,Pants Custom Dry Clean,Muffin - Carrot Individual Wrap,Tia Maria,Knife Plastic - White,Soup - Campbells Tomato Ravioli
162,98200,Wine - Blue Nun Qualitatswein,"Pepper - White, Ground",Soup - Campbells Tomato Ravioli,Knife Plastic - White,"Wine - Magnotta, Merlot Sr Vqa"

In [24]:
RecommenderSystem('correlation')

RECOMMENDATIONS USING CORRELATION

,customer,product1,product2,product3,product4,product5
0,33,"Rosemary - Primerba, Paste",Cornflakes,Beef - Short Loin,Juice - Apple Cider,Chinese Foods - Chicken
392,200,Pasta - Orecchiette,Pasta - Cheese / Spinach Bauletti,General Purpose Trigger,Langers - Ruby Red Grapfruit,Apricots - Dried
150,264,"Water - Mineral, Natural",Chicken - Wieners,Cookie - Dough Variety,"Lamb - Whole, Fresh",Cake - Box Window 10x10x2.5
832,356,"Yogurt - Blueberry, 175 Gr","Water - Mineral, Natural",Rum - Mount Gay Eclipes,Durian Fruit,Cod - Black Whole Fillet
129,412,Muffin Mix - Blueberry,Sprouts - Alfalfa,Crackers - Trio,Wine - Hardys Bankside Shiraz,Pomello
...,...,...,...,...,...,...
307,97928,"Wine - Red, Cooking",Papayas,Nantuket Peach Orange,Lime Cordial - Roses,"Yogurt - Blueberry, 175 Gr"
524,98069,"Soup - Canadian Pea, Dry Mix","Mushroom - Trumpet, Dry",Sobe - Tropical Energy,Beans - Kidney White,Onions - Vidalia
697,98159,Curry Paste - Madras,Cookie Chocolate Chip With,Flour - Whole Wheat,Banana - Leaves,Bandage - Fexible 1x3
93,98185,Duck - Breast,Cheese - Taleggio D.o.p.,Cheese - Parmesan Cubes,Cookie Dough - Double,Squid U5 - Thailand
162,98200,Carbonated Water - Cherry,Juice - Orange,Table Cloth 62x114 White,"Nut - Pistachio, Shelled",Lime Cordial - Roses

In [25]:
RecommenderSystem('cosine')

RECOMMENDATIONS USING COSINE

,customer,product1,product2,product3,product4,product5
0,33,Durian Fruit,Beef - Ground Medium,Bread Crumbs - Japanese Style,Beef - Montreal Smoked Brisket,"Soup - Campbells, Beef Barley"
392,200,Pasta - Orecchiette,Wine - White Cab Sauv.on,Grouper - Fresh,Apricots - Halves,Pernod
150,264,"Water - Mineral, Natural",Chicken - Wieners,Pickerel - Fillets,Cake - Box Window 10x10x2.5,Cream Of Tartar
832,356,Tea - Herbal Sweet Dreams,Chicken - Soup Base,Cream Of Tartar,Ecolab - Lime - A - Way 4/4 L,Rum - Mount Gay Eclipes
129,412,Wine - Vidal Icewine Magnotta,Crackers - Trio,Gatorade - Xfactor Berry,Wine - Hardys Bankside Shiraz,Mustard - Seed
...,...,...,...,...,...,...
307,97928,"Wine - Red, Cooking","Water - Mineral, Natural","Yogurt - Blueberry, 175 Gr",Papayas,Isomalt
524,98069,Fond - Neutral,Wine - Vineland Estate Semi - Dry,Cheese - Camembert,Bread - Rye,Soupfoamcont12oz 112con
697,98159,Curry Paste - Madras,Cookie Chocolate Chip With,Flour - Whole Wheat,Banana - Leaves,Bandage - Fexible 1x3
93,98185,"Peas - Pigeon, Dry",Pernod,Pastry - Choclate Baked,Phyllo Dough,Ice Cream Bar - Oreo Cone
162,98200,Table Cloth 62x114 White,Carbonated Water - Cherry,Lime Cordial - Roses,"Fish - Scallops, Cold Smoked","Nut - Chestnuts, Whole"

In [26]:
RecommenderSystem('jaccard')

RECOMMENDATIONS USING JACCARD

,customer,product1,product2,product3,product4,product5
0,33,Milk - 2%,Guinea Fowl,Blueberries,Scampi Tail,Cheese Cloth No 100
392,200,Muffin - Carrot Individual Wrap,"Beans - Kidney, Canned",Chips Potato Salt Vinegar 43g,Smirnoff Green Apple Twist,Sausage - Liver
150,264,Hersey Shakes,Sugar - Fine,Bread - Italian Roll With Herbs,Cheese - Parmesan Grated,"Thyme - Lemon, Fresh"
832,356,Bread - Italian Roll With Herbs,Sausage - Breakfast,Scallop - St. Jaques,Rice - Long Grain,Muffin Batt - Choc Chk
129,412,Cumin - Whole,Veal - Sweetbread,Wonton Wrappers,Muffin Mix - Blueberry,Guinea Fowl
...,...,...,...,...,...,...
307,97928,Fenngreek Seed,Watercress,Olives - Kalamata,Pecan Raisin - Tarts,Nantuket Peach Orange
524,98069,Juice - Orange,Flour - Teff,Tea - Jasmin Green,Scampi Tail,Tahini Paste
697,98159,Mustard Prepared,Ecolab - Lime - A - Way 4/4 L,Chocolate - Compound Coating,"Chocolate - Semi Sweet, Calets",Rum - Mount Gay Eclipes
93,98185,Soup V8 Roasted Red Pepper,"Nut - Pistachio, Shelled",Coffee - Irish Cream,Blackberries,Sugar - Fine
162,98200,Wine - Blue Nun Qualitatswein,Milk - 1%,Beans - Wax,Onions - Vidalia,Mussels - Cultivated